@model IEnumerable<TopSolution.Models.Topic>

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-between mb-5">
    <h1>Topics</h1>

    <a type="button" class="btn btn-dark m-3" asp-action="Create">Create new</a>
</div>
<div class="pb-3">
    @{
        foreach (var item in Model)
        {
            var progLangs = item.RelatedProgLanguages.Split(';').ToList();
            progLangs.RemoveAt(progLangs.Count - 1);
            var hashtags = item.HashTags?.Split('#').ToList();
            hashtags?.RemoveAt(0);

            @(await Html.PartialAsync("_TopicListElementPartial",
                item,
                new ViewDataDictionary(ViewData)))
        }
    }
</div>

<div class="pagetabcontainer d-flex justify-content-center mt-2">
    @if ((int)ViewData["topicCount"]! > (int)ViewData["topicPerPage"]!)
    {
        int currPage = (int)ViewData["page"]!;
        int pages = (int)ViewData["topicCount"]! / (int)ViewData["topicPerPage"]!;
        int start = currPage == 1 ? 1 : currPage - 1;
        int end = pages > 5 && start + 4 < pages ? start + 4 : pages;
        <nav class="nav nav-pills nav-justified">
            @for (int i = start; i < end; i++)
            {
                <a class="nav-link@(currPage == i ? " active disabled" : "")" href="/Topics?query=@ViewData["query"]&page=@i">@i</a>
            }
        </nav>
    }
</div>