html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
}

body {
    margin-bottom: 60px;
}

.memo{
    min-width: 40vw;
    height: 20vh;
}
.btn:focus {
    box-shadow: none;
}
.topic{
    transition: 0.5s;
}
.topic:hover{
    background-color: aliceblue;
    transform: scale(1.05);
}
.main {
    min-height: 100vh;
    max-height: 100%;
    height: max-content;
    width: 100%;
}
.mainbody{
    width: 50%;
    min-height: 100vh;
    height: fit-content;
    padding: 2%;
    position: relative;
}
.leftmainpanel {
    width: 25%;
    height: 100%;
}
.rightmainpanel {
    width: 25%;
    height: 100%;
}
.shadow-inside {
    box-shadow: inset 0px 0px 5px #00000016;
}
.pagetabcontainer{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0px;
}
header{
    height: 60px !important;
}
footer{
    height: 60px !important;
}
.searchbar{
    width: 30vw;
}
.profilepicturecontainer{
    position: relative;
}
.profilepictureelement{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.changeprofilepicturecover {
    opacity:0;
    transition: 0.3s;
}
.changeprofilepicturecover:hover {
    opacity: 0.5;
}
.input[type="file"] {
    display: none;
}
.tabbtncontainer {
    overflow: hidden;
}
.tabbtncontainer .tabbtn {
    background-color: #e6efff;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 16px;
    margin-right: 5px;
    transition: 0.3s;
    border-radius: 32px;
}

.tabbtncontainer .tabbtn:hover {
    filter: brightness(110%);
    color: inherit;
}

.tabbtncontainer .tabbtn.active {
    background-color: #3B71CA;
    color: white;
}

.tabcontent {
    display: none;
    padding: 24px 12px;
}

.tabbtn {
    text-decoration: none;
}