@model Topic

@{
    var progLangsRaw = Model.RelatedProgLanguages.Split(';').ToList();
    progLangsRaw.RemoveAt(progLangsRaw.Count - 1);
    var progLangs = progLangsRaw.Select(p => ProgrammingLanguageValues.Values[(int)Enum.Parse<ProgrammingLanguage>(p)]);

    var hashtags = Model.HashTags?.Split('#').ToList();
    hashtags?.RemoveAt(0);
    }

<div class="topic mb-3 rounded-3 shadow p-2">
    <div class="m-3">
        <a style="text-decoration: none;" class="h5" href="/Topics/Details/@Model.Id">@Model.Title</a>
    </div>
    <div class="m-3 flex-column">
        @foreach (var lang in progLangs)
        {
            <a type="button" class="btn btn-primary me-sm-1 p-1 pe-2 ps-2" href="/Topics?query=proglang:@lang">
                @(lang)
            </a>
        }
    </div>
    <div class="m-3 flex-column">
        @if (hashtags != null)
            foreach (var tag in hashtags)
            {
                <a class="btn btn-secondary bg-secondary me-sm-1 p-1 pe-2 ps-2" href="/Topics?query=hashtag:@tag">
                    @("#" + tag)
                </a>
            }
    </div>
</div>